<center><h1>Item Details</h1></center>
<hr>
<p><strong>Item:</strong> <%= @item.name %></p>
<p><strong>Cost:</strong> <%= @item.cost %></p>
<p><strong>Assigned Project:</strong> <%= @item.project.name %></p>
<hr>
<br>
<p><strong>Number of manufacturers for this item:</strong> <%= @item.manufacturer_count %></p>
<br>
<%= form_with url: "/items/#{@item.id}/manufacturer", method: :post, local: true do |f| %>
  <h3><%= f.label :new_manufacturer, "Add a manufacturer to this project" %></h3>
  <%= f.text_field :new_manufacturer, id: "new_manufacturer", placeholder: "Manufacturer Id" %>
  <%= f.submit "Add manufacturer to item" %>
<% end %>
